body {
  width: 800px;
  margin: 0px auto;
  font: large/1.75 'Gill Sans', 'Gill Sans MT', Corbel, Helvetica, 'Nimbus Sans L', sans-serif;
 /* font-family: verdana, arial, helvetica, sans-serif;*/
}

pre, code {
  font: medium/2.154 Consolas, 'Andale Mono', Monaco, 'Liberation Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', monospace;
}

a {
  color: #00f;
}

p {
  text-align: justify;
}
table {
    border: 1px solid #000;
    border-width: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
}

table th {
    padding: 0.2em;
}

table td {
    padding: 0.2em;
}

#chapter-content h1 {
  font-size: 2em;
}

#chapter-content h1 a {
  color: #000;
  text-decoration: none;
}

#chapter-content h2 a {
  color: #000;
  text-decoration: none;
}

#chapter-content h3 a {
  color: #000;
  text-decoration: none;
}